[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GWASbyCluster"]
	path = GWASbyCluster
	url = https://github.com/cran/GWASbyCluster
[submodule "lboxcox"]
	path = lboxcox
	url = https://github.com/cran/lboxcox
[submodule "MTPS"]
	path = MTPS
	url = https://github.com/cran/MTPS
